<%= issue_fields_rows do |rows|
unless @issue.tracker_id.nil? 
	rows.left l(:field_phone), User.find(@issue.tracker_id).phone
end
	
rows.left l(:field_price), @issue.price.to_s + " " + Corrency.find(@issue.corrency_id).name
#rows.left l(:field_corrency), @issue.corrency_id, :class => 'corrency'
	unless @issue.language_id.nil? 
		rows.left l(:field_language), Language.find(@issue.language_id).name		
	end
	unless @issue.specialization_id.nil? 
    	rows.left l(:field_specialization), Specialization.find(@issue.specialization_id).name
 	end
end %>
