<p>
    <label for = "issue_prise">  </label>
    <%= form.number_field :price %>
    <%= form.collection_select :corrency_id, Corrency.all, :id, :name  %>
</p>
<p>
 <label for = "issue_language"><%=l(:field_language) %></label>
      <%= form.collection_select :language_id, Language.all, :id, :name  %>
</p>
<p>
 <label for = "issue_specialization"><%=l(:field_specialization) %></label>
      <%= form.collection_select :specialization_id, Specialization.all, :id, :name  %>
</p>

