<h2><%= l(:specialization_edit) %></h2>
<%= error_messages_for @specialization %>
	
<div class="box tabular">
	<%= labelled_form_for @specialization, url: {action: "update"} do |f| %>
		 <%= render :partial => 'form', :locals => {:f => f} %>
		 <%= submit_tag l(:button_save) %>
		 <%= link_to l(:button_cancel), {:controller => 'specialization', :action => 'index'}%>
	<% end -%>
</div>
