<div class="content_for">
<h2>List specializations</h2>

<div style="padding: 10px;">
	
	<div class="contextual">
  		<%= link_to 'Settings plugin', '/settings/plugin/costof', :class => 'icon icon-close' %>
	</div>
	
	<div class="contextual">
  		<%= link_to l(:label_specialization_new),
              		{:action => 'new'},
              		:class => 'icon icon-add' %>
	</div>
	
<table class="plugin_settings" style="width: 100%;">

<thead>
  <tr>
     <th align="left"><%=l(:id)%></th>
    <th align="left"><%= l(:name) %></th>   
    <th></th>
  </tr>
  </thead>
  <tbody>
  	
  <% @specializations.each do |corr| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td class="corr-content"><%= simple_format h(corr.id) %></td>
        <td class="corr-title"><%= link_to h(corr.name),{ :action => :edit, :id => corr.id } %></td>
        

        <td class="buttons">
          <%= link_to l(:button_edit),
                      {
                          :controller => 'specialization',
                          :action => 'edit',
                          :id => corr.id
                      },
                      :class => 'icon icon-edit' %>
          <%= link_to l(:button_delete),
                      {
                          :controller => 'specialization',
                          :action => 'destroy',
                          :id => corr.id
                      },
                      :method => :delete,
                      :confirm => l(:text_are_you_sure),
                      :class => 'icon icon-del' %>
        </td>
      </tr>
  <% end %>
  </tbody>
     	
</table>
</div>
</div>