<h2><%= l(:specialization_new) %></h2>
<%= error_messages_for @specialization %>

<div class="box tabular">
	<%= labelled_form_for @specialization, url: {action: "create"} do |f| %>
		 <%= render :partial => 'form', :locals => {:f => f} %>
		 <%= submit_tag l(:button_create) -%>
		 <%= link_to l(:button_cancel), {:controller => 'specialization', :action => 'index'}%>
	<% end %>
</div>