<h2><%= l(:corrency_edit) %></h2>
<%= error_messages_for @corrency %>
<div class="box tabular">
	<%= labelled_form_for @corrency, url: {action: "update"} do |f| %>
		 <%= render :partial => 'form', :locals => {:f => f} %>
		 <%= submit_tag l(:button_save) -%>
		 <%= link_to l(:button_cancel), {:controller => 'corrency', :action => 'index'}%>	 
	<% end -%>
</div>