<%= form_for :user, :url => {:controller => 'user_property', :action => 'update', :id => @user },
            :html => {:method => :put} do %>

<div class="content_for">
<h3>Show properties: <%= @user.name %></h3>
  
<fieldset class="box tabular" id="user_specialization">

	<legend><%=l(:label_specialization_index)%></legend>
	<% Specialization.all.each do |s| %>
    	<label class="floating">
    	<%= check_box_tag 'specialization_id[]',s.id, UserProperty.where("user_id" =>@user.id).pluck("specialization_id").include?(s.id), 
    				:id => "specialization_id_#{s.id}" %>
    	<%= s.name %>
		 </label>
	<% end %>
</fieldset>
<fieldset class="box tabular" id="user_languages">
	<legend><%=l(:label_language_index)%></legend>
	<% Language.all.each do |l| %>
    	<label class="floating">
    	<%= check_box_tag 'language_id[]', l.id, UserProperty.where("user_id" =>@user.id).pluck("language_id").include?(l.id), :id => nil %>
    	<%= l.name %>
		 </label>
	<% end %>
	
</fieldset>

<p>
	<%= submit_tag l(:button_save) %>
		
</p>

</div>
<% end %>