<h2>Settings plugin</h2>
<p><%= link_to l(:label_corrency_index),
              		{:controller => 'corrency',
              		:action => 'index'},
              		:class => 'icon icon-list' %>
</p>
<p>	<%= link_to l(:label_language_index),
              		{:controller => 'language',
              		:action => 'index'},
              		:class => 'icon icon-list' %>
</p>
<p><%= link_to l(:label_specialization_index),
              		{:controller => 'specialization',
              		:action => 'index'},
              		:class => 'icon icon-list' %>
</p>