<h2><%= l(:language_new) %></h2>
<%= error_messages_for @language %>

<div class="box tabular">
	<%= labelled_form_for @language, url: {action: "create"} do |f| %>
		 <%= render :partial => 'form', :locals => {:f => f} %>
		 <%= submit_tag l(:button_create) -%>
		 <%= link_to l(:button_cancel), {:controller => 'language', :action => 'index'}%>
	<% end %>
</div>